.navContainer {
  border: 1px solid red;
  padding: 1rem;
  border-radius: 5px;
}
.ul {
  display: flex;
  gap: 2rem;
}
.a {
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
}
.ul li {
  position: relative;
}
.fondo {
  position: absolute;
  inset: 0;
  background-color: #666;
  border-radius: 10px;
  z-index: -1;
}
